* {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body{max-width: 100%; width: 100%; background-color: antiquewhite;}
.red-text {color: #d85450;}
.grey-text {color: #434442;}
hr {
    border: 1px solid #d85450;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 50%;
}

.container {
    position: relative;
    left: 10%;
    width: 80%;
}

.navbar {
	background-color: transparent;
    border-bottom: 2px solid #D85450;
	color: #fff;
    display: block;
	height: 100px;
    width: 100%;    
}

.navbar a {
    background-color: transparent;
    color: #D85450;;
    float: right;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: #000;
}

.nav-links {
    position: relative;
    top: 30px;
}

#logo {
	display: block;
	float: left;
    margin: 10px 0 0 10px;
	width: 100px;
}

.hero-container {
    height: 100vh;
    width: 100%;
}

.hero-container h1 {color: #fff;}
.hero-container h2 {color: #fff;}

.hero-text {
    background-image: url(/images/changem-bubble.png);
    display: block;
    height: 400px;
    margin-top: 50px;
    width: 100%;
}

.hero-text h1 {
    color: #fff;
    padding-left: 10%;
    padding-top: 100px;
    width: 50%;
}

.hero-text h3 {
    color: #fff;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-top: 30px;
    width: 50%;
}

.hero-text a {
    background-color: #FFD05B;
    border-radius: 5px;
    color: #d85450;
    font-weight: 600;
    margin-left: 10%;
    padding: 10px;
    width: 100px;
}

.btn-more-info {
    transition: 0.5s ease;
}

.btn-more-info:hover {
    background-color: #000;
    cursor: pointer;
}

.business-img {
    float: right;
    max-height: 400px;
}

.service {
    float: left;
    height: auto;
    min-height: 150px;
    margin-bottom: 50px;
    margin-top: 30px; 
    width: 16.66%;
}

.service img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

.service p {
    color: #d85450;
    font-weight: 600;
    text-align: center;
}

.container h1 {
    padding-bottom: 50px;
    text-align: center;
}

.about {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.about ul {
    padding-left: 100px;
}

.service-desc {
    float: left;
    height: 200px;
    padding-right: 20px;
    width: 50%;
}

.service-desc h2 {
    color: #d85450;
    padding-bottom: 10px;
}

.service-desc p {
    color: #434442;
    line-height: 24px;
}

@media screen and (max-width: 1280px) {}
@media screen and (max-width: 960px) {}
@media screen and (max-width: 600px) {}